@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #2E4F4F;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #000;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
      display: inline-block;  
      font-size: 18px;
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      margin: 0px 20px;
      transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #F0DE36;
}

.home {
    position: relative;
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.home-content {
    max-width: 630px;
}

.home-content h1 {
    font-size: 50px;
    line-height: 1.2;
    color: #fff;
}

.home-content h3 {
    font-size: 40px;
    color: #F0DE36;
    animation-delay: 1.3s;
}

.home-content p {
    font-size: 16px;
    margin: 15px 0 30px;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: #F0DE36;
    border: 2px solid #F0DE36;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #F0DE36;
}

.rhomebus{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rhomebus img{
    width: 430px;
    height: 330px;
    filter: drop-shadow(1px 1px 10px #000);
}

.bottom-bar {
    background-color: #fff;
    width: 100%;
    height: 35px;
}
